.app__navbar-logo {
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.app__navbar-logo h1 {
  letter-spacing: 3px;
  font-weight: bold;
  width: fit-content;
  -webkit-text-stroke: 2px var(--secondary-text-color);
  font-size: 40px;
  position: relative;
  border-right: 1px solid var(--black-color);
  padding-right: 10px;
  animation: control-width 2s 0.3s steps(5) both, blank 0.5s infinite;
  transition: var(--main-transition);
  user-select: none;
}
.app__navbar-logo h1:before {
  content: 'HAFEZ';
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  transition: var(--main-transition);
  overflow: hidden;
  mix-blend-mode: difference;
}
.app__navbar-logo h1:hover::before {
  width: 100%;
}

@keyframes control-width {
  0% {
    width: 0px;
  }
  100% {
    width: 160px;
  }
}
@keyframes blank {
  from {
    border-right-color: var(--black-color);
  }
  to {
    border-right-color: transparent;
  }
}
