.app__works {
  flex: 1;
  width: 100%;
  flex-direction: column;
}
.masonary {
  display: flex;
  flex-wrap: wrap;
}
.animate-slide-fwd {
  -webkit-animation: slide-fwd 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-fwd 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-fwd {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  to {
    -webkit-transform: translateZ(160px);
    transform: translateZ(160px);
  }
}
.app__work-filter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 4rem 0 2rem;

  .app__work-filter-item {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: rgb(24, 26, 27);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: all var(--main-transition) ease-in-out;
    margin: 0.5rem;

    &:hover {
      background-color: var(--secondary-color);
    }
  }
  .item-active {
    background-color: var(--secondary-color);
  }
}
.app__work-portfolio {
  .app__work-item {
    width: 270px;
    flex-direction: column;
    margin: 2rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: rgb(24, 26, 27);
    color: #000;
    cursor: pointer;
    transition: all var(--main-transition) ease;
    &:hover {
      box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    }
    @media (max-width: 400px) {
      width: 100%;
      margin: 1rem;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
}

.app__work-img {
  width: 100%;
  height: 230px;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
  }
}
.app__work-hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  opacity: 0;
  transition: all var(--main-transition) ease;

  div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #000;
    margin: 1rem;
    font-weight: 800;
    transition: all var(--main-transition) ease;

    svg {
      color: white;
      width: 50%;
      height: 50%;
    }
  }
}
.app__work-content {
  padding: 0.5rem;
  width: 100%;
  flex-direction: column;
  position: relative;
  h4 {
    line-height: 3;
    margin-top: 1rem;
  }
  .app__work-tag {
    position: absolute;
    padding: 0.5rem 1rem;
    background-color: rgb(24, 26, 27);
    top: -25px;
    border-radius: 10px;
  }
}
